#!/usr/bin/make -f
DISTRIBUTION = $(shell sed -n "s/^VERSION_CODENAME=//p" /etc/os-release)

%:
	dh $@ --with autoreconf 

override_dh_auto_configure:
	if [ "$(DISTRIBUTION)" = "bionic" ]; \
	then \
		dh_auto_configure -- TIDY_LIBS=-ltidy TIDY_CFLAGS=-I/usr/include ; \
	else \
		dh_auto_configure -- ; \
	fi
